* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.logo {
    margin-left: -50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;

}

.header {
    background: #ffffff;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    padding: 16px 55px 17px 9px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #3C3C3C;
}

.number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #3C3C3C;
}
.fifty_five {
    position: absolute;
    padding: 0px 70px;
    right: 20px;
}
.coin__logo {
    position: absolute;
    padding: 0px 30px;
    right: 103px;
}

.header__coin {
    position: absolute;
    padding: 10px 20px;
    right: 30px;
}
.main__container {
    /* max-width: 1200px; */
    padding: 0 10px 0 45px;
    margin: 0 auto;
    background: #E5E5E5;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    column-gap: 35px;
}

.card {
    height: 200px;
    width: 304px;
    margin-bottom: 200px;
}
.desc {
    max-width: 304px;
    height: 393px;
    background: #ffffff;
}
